secrets = {
  rake-secret-key = `rake secret`
  rake-secret-otp = `rake secret`
  vapid-private-key = `rake mastodon:webpush:generate_vapid_key`
  vapid-public-key = `rake mastodon:webpush:generate_vapid_key`
}
